@{
    ViewBag.Title = "О КОМПАНИИ 'УЛЬЯНОВСКАЯ СЛУЖБА ДОСТАВКИ'";
}
<div class="about">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>


    <p>
        Мы - региональная служба доставки. Служба обеспечивает услуги экспресс-доставки в любую точку земного шара, адресную доставку корреспонденции по Ульяновской области в любых объёмах, транспортно-экспедиционные услуги. Мы предоставляем высококлассный сервис и будем рады осуществить доставку Ваших писем, посылок, бандеролей и грузов. Мы не стоим на месте и постоянно повышаем качество и ассортимент наших услуг. Ярославская Служба Доставки с октября 2008 года предлагает максимально полный спектр услуг доставки между городами Москва и Ярославль.

        С 2008 года компания активно принимает участие в проекте "Российская Доставка". Проект направлен на качественное повышение уровня предоставляемых услуг на российском рынке экспресс-доставки и объединяет лучшие региональные компании.

        Обратившись в нашу компанию, Вы сможете получить самый современный и качественный курьерский сервис "из рук в руки". Нашими партнёрами являются ведущие курьерские службы. Мы обеспечиваем постоянный контроль за отправлениями наших клиентов.

        Ярославская Служба Доставки предоставляет качественные транспортно-экспедиционные услуги организациям. Нашими заказчиками являются как корпоративные клиенты, так и небольшие компании. Для нас важен каждый заказ клиента. В целях обеспечения качества, на нашем предприятии внедряются передовые технологии, позволяющие эффективно управлять транспортом и обеспечивать безопасность перевозок. Наша ответственность перед клиентами застрахована.

        Одним из основных приоритетов наша компания считает инвестиции в собственное развитие. Разработка собственного программного обеспечения, расширение парка автотранспорта, постоянное улучшение условий работы сотрудников - всё направлено на качественный рост предприятия, повышение конкурентных преимуществ, увеличение количества и качества услуг.

        ООО "Ярославская Служба Доставки" с 2009 года является членом Ярославской Торгово-Промышленной Палаты.
    </p>
</div>
