@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Доставка</title>
</head>
<body>
    <div>
        <h3>Форма оформления доставки</h3>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.OrderId" name="OrderId" />
            <p>Введите свое имя </p>
            <input type="text" name="Person" />
            <p>Введите адрес :</p>
            <input type="text" name="Address" />
            <input type="submit" value="Отправить" />
        </form>
    </div>
</body>
</html>
