@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Курьерская служба</title>
</head>
<body>
    <div class="fill">
        <h1>СРОЧНАЯ ДОСТАВКА ПОСЫЛОК</h1>
        <div class="info">
            <p>ДОКУМЕНТОВ И ГРУЗОВ С ГАРАНТИЕЙ ДОСТАВКИ ОТПРАВЛЕНИЯ ПОЛУЧАТЕЛЮ</p>
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">Бесплатный вызов курьера</li>
                <li class="list-group-item list-group-item-warning">Доставка по городу на следующий день после подачи заявки</li>
                <li class="list-group-item list-group-item-danger">Личный кабинет для управления услугами</li>
            </ul>
        </div>
    </div>
</body>
</html>