td, th {
    border: 2px solid;
}

.myheader {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.myheader ul {
    padding-left: 10px;
}

    .myheader ul li {
        list-style: none;
    }


    .myheader .user {
        display: flex;
        margin: auto 0;
    }

.myheader .user p:last-child {
    margin-left: 20px;
}

.menu {
    margin: auto 0;
}

.menu ul {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

    .menu ul li {
        list-style: none;
        margin-left: 10px;
        border-right: 2px solid;
        padding-right: 10px;
    }

.fill {
    background-color: lightgray;
    padding: 20px 40px;
}

.fill h1{
    text-align: center;
    font-size: 43px;
}

.fill .info {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 21px;
}

    .fill .info p {
        width: 45%;
        font-size: 28px;
        margin: auto;
    }

.myfooter {
    display: flex;
    justify-content: space-around;
    height: 168px;
    background-color: #7f67d0;
    color: white;
    padding-top: 76px;
}

.about {
    padding: 20px;
}

.count {
    text-align: center;
    padding: 20px;
}

    .count>p {
        width: 75%;
        margin: auto;
    }

    .count form {
        text-align: left;
        margin-top: 20px;
        padding-left: 43%;
    }

.wrapper .table-wrapper {
    margin: 0 20px;
}

.wrapper .create-wrapper {
    width:70%;
    margin:auto;
}

.wrapper .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 3px;
    width: 145px;
}

.wrapper .table > tbody > tr > td {
    max-width: 0;
    overflow: hidden;
    outline: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.wrapper .table > tbody > tr > td:hover {
    white-space: unset;
}

#notice, #notice2 {
    margin-left: 35px;
}

.logo {
    width: auto;
    height: 100px;
    margin: 10px 20px;
}

/*рейтинг*/
.rating-area form {
    overflow: hidden;
    width: 265px;
    margin: 0 auto;
    height: 80px;
    position: relative;
}

    .rating-area form:not(:checked) > input {
        display: none;
    }

    .rating-area form:not(:checked) > label {
        float: right;
        width: 42px;
        padding: 0;
        cursor: pointer;
        font-size: 50px;
        line-height: 50px;
        color: lightgrey;
        text-shadow: 1px 1px #bbb;
    }

        .rating-area form:not(:checked) > label:before {
            content: '★';
        }

    .rating-area form > input:checked ~ label {
        color: gold;
        text-shadow: 1px 1px #c60;
    }

    .rating-area form:not(:checked) > label:hover,
    .rating-area form:not(:checked) > label:hover ~ label {
        color: gold;
    }

    .rating-area form > input:checked + label:hover,
    .rating-area form > input:checked + label:hover ~ label,
    .rating-area form > input:checked ~ label:hover,
    .rating-area form > input:checked ~ label:hover ~ label,
    .rating-area form > label:hover ~ input:checked ~ label {
        color: gold;
        text-shadow: 1px 1px goldenrod;
    }

.rate-area form > label:active {
    position: relative;
}

.rating-area form .submit {
    position: absolute;
    bottom: 0;
    right: 0;
}